﻿
<div class="col-md-12">
    <h4>{{controller.titulo}}</h4>
    <div class="col-md-12 module" style="align-content:center">
        
            <br />
            <br />
        
        <div class="row">
            <input type="button" ng-click="controller.CrearPersona()" value="Crear Persona" class="btn btn-success" />
        </div>
        <br />
        <br />

        <div class="col-md-12" style="align-content:center">
            <table class="table table-responsive table-striped table-condensed table-bordered table-hover">
               <thead>
                   <tr>
                       <th>Aadhaar</th>
                       <th>Nombre</th>
                       <th>Apellido</th>
                       <th>Genero</th>
                       <th>Fecha de Nacimiento</th>
                       <th>Fotografia</th>
                       <th>Fecha de Vencimiento</th>
                       <th></th>
                   </tr>
               </thead>
                <tbody>
                    <tr>
                        <td>Aadhaar</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Genero</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fotografia</td>
                        <td>Fecha de Vencimiento</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" title="agregar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-warning" title="verificar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Aadhaar</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Genero</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fotografia</td>
                        <td>Fecha de Vencimiento</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" title="agregar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-warning" title="verificar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Aadhaar</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Genero</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fotografia</td>
                        <td>Fecha de Vencimiento</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" title="agregar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-warning" title="verificar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Aadhaar</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Genero</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fotografia</td>
                        <td>Fecha de Vencimiento</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" title="agregar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-warning" title="verificar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Aadhaar</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Genero</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fotografia</td>
                        <td>Fecha de Vencimiento</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" title="agregar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-warning" title="verificar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Aadhaar</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Genero</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fotografia</td>
                        <td>Fecha de Vencimiento</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" title="agregar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-warning" title="verificar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Aadhaar</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Genero</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fotografia</td>
                        <td>Fecha de Vencimiento</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" title="agregar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-warning" title="verificar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Aadhaar</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Genero</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fotografia</td>
                        <td>Fecha de Vencimiento</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" title="agregar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-warning" title="verificar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Aadhaar</td>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Genero</td>
                        <td>Fecha de Nacimiento</td>
                        <td>Fotografia</td>
                        <td>Fecha de Vencimiento</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-primary" title="agregar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-warning" title="verificar informacion" ng-click="controller.mostrarInfoPersona(dato);"><i class="glyphicon glyphicon-search"></i></a>
                            </div> 
                        </td>
                    </tr>
                </tbody>
             </table>
            <br />
            <br />
        </div>
        <!--<pagination total-items="controller.totalDeItems" ng-model="controller.currentPage" max-size="controller.numeroPaginacion" class="pagination-sm" boundary-links="true"></pagination>-->
            <br />
           
        
    </div>
</div>