﻿
<div class="col-md-12">
    <h4>{{controller.titulo}}</h4>
    <div class="col-md-12 module" style="align-content:center">

        <br />
       
            <div class="col-md-6">
                    <label class="control-label">Nombres</label>
                    <input type="text" disabled="disabled" ng-model="vm.nombre" class="form-control" />
            </div>
            <div class="col-md-6">
                <label class="control-label">Apellidos</label>
                <input type="text" disabled="disabled" ng-model="vm.nombre" class="form-control" />
            </div>
            <div class="col-md-6">
                <label class="control-label">Direccion</label>
                <input type="text" disabled="disabled" ng-model="vm.nombre" class="form-control" />
            </div>
            <div class="col-md-3">
                <label class="control-label">Ciudad</label>
                <input type="text" disabled="disabled" ng-model="vm.nombre" class="form-control" />
            </div>
            <div class="col-md-3">
                <label class="control-label">Estado</label>
                <input type="text" disabled="disabled" ng-model="vm.nombre" class="form-control" />
            </div>
            <br />

        <!--<pagination total-items="controller.totalDeItems" ng-model="controller.currentPage" max-size="controller.numeroPaginacion" class="pagination-sm" boundary-links="true"></pagination>-->
        <br />
    </div>
</div>