﻿<div class="col-md-12">
    <div class="col-md-4"></div>
  
    <div class="col-md-4 moduleLogin">
        <form class="form">
            <div>
                <div>
                    <h4>Acceso Usuarios</h4>
                </div>
                <input type="text" placeholder="Usuario" class="form-control" />
                <br />
                <input type="password" placeholder="Password" class="form-control" />
                <br />
                <input type="button" ng-click="controller.Login()" value="Login" class="btn btn-success" />
            </div>
        </form>

    </div>
    <div class="col-md-4"></div>
</div>
   
