﻿<div class="col-md-12">
    <h4>{{controller.titulo}}</h4>
    <div class="module" style="align-content:center">
        <br />
        <br />
        <h3>Seleccione una opcion:</h3>
        <br />
        <br />
        <div style="align-content:center">
            <table class="table table-responsive table-hover">
                <tr >
                    <td style="align-content:flex-end"><input type="button" ng-click="controller.AccesoRegistro()" value="Registro de Personas" class="btn btn-primary btn-block" /></td>
                    <td><input type="button" ng-click="controller.AccesoReportes()" value="Acceso a Reportes" class="btn btn-primary btn-block" /></td>
                </tr>
                <tr >
                    <td><input type="button" ng-click="controller.AccesoMantenimientos()" value="Mantenimientos" class="btn btn-primary btn-block" /></td>
                    <td><input type="button" ng-click="controller.Logout()" value="Salir" class="btn btn-danger btn-block" /></td>
                </tr>
            </table>
        </div>
        <br />
        <br />
        <br />
        <br />

    </div>
</div>